@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto:wght@500&display=swap");

* {
  position: relative;
  box-sizing: border-box;
}

:root {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;
  --background-shadow: #535050;
  --line: #75b4d4;
}

html {
  background-color: var(--background);
  font-weight: 500;
  height: 100%;
  font-family: "Comfortaa", cursive;
}

body {
  display: grid;
  place-items: center;
  min-height: 100%;
}
